* {
   margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
   background-color: #222;
 color: white;
 height: 100vh;
 width: 100vw;
 font-family: 'IBM Plex Sans', sans-serif; /* Added sans-serif as a fallback */
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative; 
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 18px;
}

.header {
  font-size: 42px;
  display: flex;
  align-items: center;
  gap: 12px;
  color : #007bff;
}

.icon {
  height: 42px;
  width: 42px;
}

.description {
  font-size: 16px;
  color: #007bff;
  
}

.input {
  width: 250%;
  background-color: transparent;
  border: 1.5px #007bff solid;
  font-size: 24px;
  text-align: center;
  color: #007bff;
  outline: none;
  border-radius: 50px; 
  transition: color;
  transition-duration: 100ms;
  padding:10px;
}
.input::placeholder {
  color: #007bff;
  font-size: 24px;
}
.logo {
  height: 55px;
  width: 55px;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 24px #685dff);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  flex-shrink: 0;

  padding: 18px;
  padding-left: 24px;
  padding-right: 30px;
}

.footer a,
.footer a:visited {
  cursor: pointer;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-underline-offset: 2.5px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer div {
  display: flex;
  gap: 26px;
}

.navbar {
  overflow: hidden;
  background-color: #007bff;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Links and things because css is f  u   n   */
.navbar a:hover {
  background: #ddd;
  color: #007bff;
}

.button {
  background-color: #007bff;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 200px;
}

.button:hover {
  background-color: #ffffff;
  color: #007bff;
}

.button_nongui {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
  border-radius: 200px;
}

.button_nongui:hover {
  background-color: #ffffff;
  color: #007bff;
}